body, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100;
}

body {
    background-image: linear-gradient(to right,rgb(234, 228, 241), #8c6dac);
}

h1 {
    color: #56327d;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.ul-navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a37de1;
  }
  
  .navbar {
    display: inline;
    float: left;
    background-color: #a37de1;
  }
  
  .navbar a {
    display: block;
    padding: 14px 16px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .navbar a:hover {
    background-color: #56327d;
  }

.pt-list {
    padding: 20px;
    right: 0;
    margin: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color:#56327d;
}

.button-container {
    display: flex;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a37de1;
    color: white;
    padding: 10px 30px;
    border: none;
    width: 60px;
    top: 10%; 
    position: relative; 
    font-size: 12px;
    border-radius: 20px;
    margin: 5px 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: #56327d;
  }

  #delete-pt {
    align-items: center;
    width: 18%;
    position: relative;
    top:10%;
    background-color: rgb(226, 22, 29);
    color: white;
    padding: 10px 30px;
    margin: 5px 5px;
    border: none;
    font-size: 12px;
    border-radius: 20px;
    cursor: pointer;
  }

  #delete-pt:hover {
    background-color: rgb(150, 10, 15);
  }

  .message {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(101, 173, 245);
    font-size: 18px;
    margin: 5px 10px;
  }